.checkboxes-buttons-content {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titles-content {
  display: flex;
  flex-direction: column;
}

.questions-buttons-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.answered-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.questions-buttons-subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 8px;
}

.questions-buttons-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

.questions-buttons {
  height: 48px;
  margin: 8px 0;
  padding: 0px 8px 0px 32px;
  border-radius: 15px;
  gap: 8px;
  opacity: 0.8px;
  box-shadow: 2px 2px 8px 0px #00000040;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: var(--primary-color) !important;
}

.confirm-button {
  width: 175px;
  height: 43px;
  padding: 11px 39px 13px 39px;
  border-radius: 48px;
  box-shadow: 2px 2px 8px 0px #00000040;
  color: var(--background-white);
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.button-disabled {
  background: #8b62ff4d;
}

.button-active {
  background: var(--primary-color);
  cursor: pointer;
}

.confirm-button-content {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: end;
}

.answered-shadow {
  box-shadow: 0px 4px 4px 0px #0000001A;
}
