:root {
  --primary-color: #9747ff;
  --secondary-color: #38db78;
  --background-grey: #f1f3f4;
  --background-white: #ffffff;
  --text-color: #313131;
  --title-color: #000000;
}

.App {
  display: flex;
  justify-content: center;
  background: var(--background-grey);
  height: 100vh;
}
