.banner-green-content {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

@keyframes box-motion {
  50% {
    width: 100%;
    padding: 16px 20px;
    justify-content: start;
  }
  100% {
    width: 100%;
    align-items: start;
    padding: 16px 20px;
    justify-content: start;
  }
}

@keyframes show-text {
  0% {
    opacity: 0;
    position: unset;  
  }
  100% {
    opacity: 1;
    position: unset;  
  }
}

@keyframes lightbulb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

.banner-green-square {
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 16px;
  display: flex;
  background: var(--secondary-color);
  animation: box-motion 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.yellow-lightbulb {
  animation: lightbulb 0s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.banner-green-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 18px;
  animation: show-text 0s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  opacity: 0;
}
